<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker - ABOUT</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    
    <div class="navlink"><a href="/maker">Home</a></div>
  </nav>
  <div style="padding: 10px;">
    <h1 >ABOUT DOMOMAKER</h1>
    <h2>What is a Domo?</h2>
    <p>A domo is a personalized card that is versatile to the user. It contains personal information
      about a specific person. The domo or card is a way to organize contacts, players, users, or any group
      of people.
    </p>
    <br>
    <img style="width: 20%" src="/assets/img/domo.png">
    <h2>How it works?</h2>
    <p>To create a domo log in or create an account. Once at the main screen you can see any
      previously made domos. At the top of the screen you can add information to create a new domo
      and hit the 'make domo' button to create a new one.
    </p>
    <img style="width: 100%" src="/assets/img/domocard.png">
    <h2>Creator</h2>
    <p>This DomoMaker was created by Kegan Sovay for Rich Media 2</p>
    <br>
    <a href="/maker">Make a Domo!</a>
  </div>
  
  
  <script src="/assets/bundle.js"></script>
</body>
</html>